//Colores//
$color-background1: rgba(236, 108, 44, 1);
$color-background2: rgba(40, 117, 201, 1);
$color-hover1: rgba(236, 108, 44, 1);
$color-hover2: rgba(40, 117, 201, 1);
$color-list: #ffff;
$color-menu: #333;
$color-p:#000;

//Breakpoints//
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

//Fonts//
$font-menu:"Bebas Neue",
cursive;
$font-text:"Teko",
sans-serif;
$font-size: 20px;
$font-size2: 32px;
$font-size3: 42px;

//Padding, Margin//
$padding: 6px;
$padding1:10px;
$padding2:12px;
$margin1:10px;
$margin2:12px;

//Mapa//
$colors:(Wsp:#20bd59, Ig:#E1306C, Maps: #DB4437)