//Colores//
$color-background1: rgba(236, 108, 44, 1);
$color-background2: rgba(40, 117, 201, 1);
$color-hover1: rgba(236, 108, 44, 1);
$color-hover2: rgba(40, 117, 201, 1);
$color-list: #ffff;
$color-menu: #333;

//Breakpoints//
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

