@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
    margin: 0;
    padding: 0;
}

//Vista Mobile//

@media screen and (min-width:$bp-sm) and (max-width:$bp-lg) {
    html {
        height: 100%;

        body {
            height: 100%;
            background: linear-gradient(to bottom,
                    $color-background1,
                    $color-background2);
        }

        .section {
            .logo-container {
                width: 100%;
                text-align: end;
                height: 0;
                position: absolute;
                right: 86px;
                top: 36px;
            }

            .logo-sch {
                border-radius: 50%;
                border: 5px solid $color-list;
                height: 80px;
                width: 80px;

            }
        }

        .main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            height: 100vh;

            .menu-container {
                display: none;
            }

            .menu-container-h input {
                display: none;
            }

            .menu-container-h input:checked~ul {
                display: block;
            }

            .menu-container-h input:checked~label {
                background: lightgrey;
            }

            .menu-list-h {
                display: block;
                background: $color-menu;
                margin: 0;
                padding: 10px;
                list-style: none;
                border-bottom: 1px solid #ffffff;
                font-family: $font-menu;
            }

            .menu-list-h:hover {
                filter: brightness(110%);
            }

            .ul-h .menu-list-h a {
                text-decoration: none;
                color: $color-list;
            }


            .ul-h {
                position: absolute;
                padding: 0;
                width: 200px;
                display: none;
            }

            .ul-h .menu-list-h a {
                text-decoration: none;
                color: $color-list;
            }

            .menu-imagen {
                box-sizing: border-box;
                display: inline-block;
                border: 1px solid black;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-weight: bold;
                text-align: center;
                user-select: none;
            }

            .menu-imagen:hover {
                background: grey;
            }

            .container-index {
                grid-column: 1/3;
                grid-row: 2/4;
            }

            .container-index,
            .imagen {
                font-family: $font-text;
                margin: 15px;
                padding: 8px;
            }

            .logo-sch-2 {
                border-radius: 50%;
                border: 5px solid $color-list;
            }

            .imagen {
                grid-column: 3/4;
                grid-row: 2/3;
                display: flex;
                justify-items: center;
                align-items: center;

            }

            .footer {

                bottom: 0;
                width: 100%;
                position: absolute;
                padding: 12px 0;
                background-color: #333;
                font-family: $font-menu;


                .footer-container {
                    color: $color-list;
                    font-size: 1, 5rem;
                    text-align: center;
                }

            }
        }
    }
}


//Vista Desktop1//

@media screen and (min-width:$bp-lg) and (max-width:$bp-xxl) {
    html {
        height: 100%;

        body {
            height: 100%;
            background: linear-gradient(to bottom,
                    $color-background1,
                    $color-background2);
        }

        .section {
            .logo-container {
                width: 100%;
                text-align: center;
                height: 0;
                position: absolute;
                top: 36px;
            }

            .logo-sch {
                border-radius: 50%;
                border: 5px solid $color-list;
                height: 80px;
                width: 80px;

            }
        }

        .main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            height: 100vh;

            .logo-container,
            .menu-container {
                width: 100%;
                margin: auto;
                text-align: center;
                height: 0;
            }

            .menu-container {
                grid-column: 1/4;
                grid-row: 1/2;
                margin: 10px 0;
            }

            .menu-list {
                display: flex;
                justify-content: space-around;
                text-align: center;
                background-color: $color-menu;
                overflow: hidden;
                cursor: pointer;
                font-family: $font-menu
            }

            .menu-list-item {
                text-decoration: none;
                list-style-type: none;
            }

            .menu-list .menu-list-item {
                padding: 15px;
                width: 22%;
            }

            .menu-list .menu-list-item:hover a {
                color: $color-hover2;
                font-weight: bold;
            }

            .menu-list .menu-list-item a {
                text-decoration: none;
                color: $color-list;
            }

            .menu-list .menu-list-item:hover {
                background-color: $color-hover1;
            }


            .menu-container-h {
                display: none;

                .menu-container-h input {
                    display: none;
                }

                .menu-container-h input:checked~ul {
                    display: block;
                }

                .menu-container-h input:checked~label {
                    background: lightgrey;
                }

                .menu-list-h {
                    display: block;
                    background: #333;
                    margin: 0;
                    padding: 10px;
                    list-style: none;
                    border-bottom: 1px solid #ffffff;
                    font-family: "Bebas Neue", cursive;
                }

                .menu-list-h:hover {
                    filter: brightness(110%);
                }

                .ul-h .menu-list-h a {
                    text-decoration: none;
                    color: #ffffff;
                }


                .ul-h {
                    position: absolute;
                    padding: 0;
                    width: 200px;
                    display: none;
                }

                .ul-h .menu-list-h a {
                    text-decoration: none;
                    color: #ffffff;
                }

                .menu-imagen {
                    box-sizing: border-box;
                    display: inline-block;
                    border: 1px solid black;
                    border-radius: 5px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-weight: bold;
                    text-align: center;
                    user-select: none;
                }

                .menu-imagen:hover {
                    background: grey;
                }


            }

            .container-index {
                grid-column: 1/3;
                grid-row: 2/4;
            }


            .container-index,
            .imagen {
                font-family: $font-text;
                margin: 15px;
                padding: 8px;
            }

            .logo-sch-2 {
                border-radius: 50%;
                border: 5px solid $color-list;
            }

            .imagen {
                grid-column: 3/4;
                grid-row: 2/3;
                display: flex;
                justify-items: center;
                align-items: center;
            }
        }

        .footer {

            bottom: 0;
            width: 100%;
            position: absolute;
            padding: 12px 0;
            background-color: $color-menu;
            font-family: $font-menu;


            .footer-container {
                color: $color-list;
                font-size: 1, 5rem;
                text-align: center;
            }

        }
    }
}